# Core Python Libraries
numpy
scipy
pandas

# Medical Imaging
SimpleITK
pydicom
nibabel
scikit-image

# Audio Processing
librosa
soundfile

# Machine Learning / Deep Learning
torch
torchvision
torchaudio

# Utilities
opencv-python
tqdm
matplotlib

# JSON & YAML configs
PyYAML

# Model Serialization
joblib
