numpy
pydicom
scikit-image
torch==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pillow
torchvision==0.16.0
tqdm==4.66.1
matplotlib==3.8.0
python-multipart==0.0.6
aiofiles==23.1.0
